---
component: Billboard
---

<section>
    <div class="container">
        <p class="center">
            <img src="../images/most-powerful-quotes-5.jpg" alt="" />
        </p>
    </div>
</section>
