---
component: Global Header
---

<!-- Global header starts here -->
<header class="global-header">
    <div class="container">
        <a href="#">
            <img src="../images/logo.png" alt="" />
        </a>
        <ul class="global-menu">
            <li>
                <a href="home.html">Home</a>
                <a href="about.html">About Us</a>
                <a href="contactus.html">Contact Us</a>
            </li>
        </ul>
    </div>
</header>
<!-- Global header ends here -->
