<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <link rel="stylesheet" href="styles/main.css" media="screen" title="no title">
    </head>
    <body>
        {{> GlobalHeader }}

        <div class="main-content">
            {% body %}
        </div>

        {{> GlobalFooter }}

        <script src="scripts/main.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
